html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1.4;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

.banner {
  overflow: hidden;
  max-height: 500px;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: .5rem;
}

.banner-body {
  width: 100%;
  max-width: 50em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1em;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: .5em 0;
}
